<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.meimeiss.dao.UserDataMapper">
    <resultMap id="BaseResultMap" type="com.example.meimeiss.model.UserData">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="nick" jdbcType="VARCHAR" property="nick" />
        <result column="we_chat_code" jdbcType="VARCHAR" property="weChatCode" />
    </resultMap>

    <select id="getUserDataList" resultMap="BaseResultMap">
        select * from user_data
    </select>
</mapper>